* {
  margin: 0;
  padding: 0;
}

:root { 
  --main-color: #22b14c;
  --main-text-color: #444;
  --secondary-color: #ffcd00;
  --body-color: #f2f2f2;
  --main-spacing: 15px;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

img {
  max-width: 100%;
  height: auto;
}
